/*---------- general ----------*/

    body {
    background-image: url(images/layout/bg-2.gif);
    font-family: 'Oldenburg', 'Kosugi Maru', sans-serif;
    color: rgb(22, 36, 75);
    }

/*---------- scrollbar section ----------*/

    ::-webkit-scrollbar {
        width: 10px;
    }
    
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: 0 0 3px rgba(32, 31, 107, 0.185);
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgb(242, 247, 255);
        -webkit-box-shadow: inset 0 0 0px rgba(21, 50, 145, 0); 
        border: 1px dashed #a7b3c5;
    }


/*---------- general text ----------*/

    .side-title, .main-title, th {
    font-family: 'Borel', 'Send Flowers', sans-serif;
    margin: 0.5em;
    color: rgb(165, 210, 216);
    text-shadow: #fff 0px 0px 2px;
    font-weight: bold;
    }

    .side-title {
    font-size: 1em;
    }

    .main-title {
    font-size: 1.4em;
    text-align: center;
    }

    a {
    color: rgb(221, 197, 252);
    text-decoration: none;
    font-style: italic;
    }

/*---------- layout ----------*/

    .layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8em;
    max-width: 1200px;
    margin: 0 auto;

    }

    main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 8em;
    width: 100%;
    border-width:45px;
    padding:10px;
    }


/*---------- laces ----------*/

    .lace-top {
    background:url(images/ribbons/ribbon-blue-5.gif);
    display: block;
    background-repeat: repeat-x;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    }

    .lace-bottom {
    background:url(images/ribbons/ribbon-blue-5.gif);
    display: block;
    background-repeat: repeat-x;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0; 
    width: 100%;
    rotate: 180deg;
    }

    .line-lace {
    display: flex;
    margin:  auto;
    padding: 0.3em;
    justify-content: center;
    align-items: center;  
    }

/*---------- sidebar ----------*/

    .left, .right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto; 
    width: 200px;
    justify-content: center;
    height:100%;
    }

    .right {
    margin-left: -2em;
    margin-right: 2.3em;
    order: 1;
    height:550px;
    }
        
    .side-title {
    text-align: center;
    }

    .nav-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 1em;
    }

    .nav-area {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    }

    .news {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1em;
    }

    .calendar, .blurb {
    font-size: 0.7em;
    text-align: justify;
    }

    .calendar {
    font-weight: bold;
    }

/*---------- lacebox ----------*/

    .top {
    background:url(images/layout/frame-white-1/f-ue.gif) repeat-x;
    height:23px;
    margin:0 23px;
    }

    .bottom {
    background:url(images/layout/frame-white-1/f-sita.gif) repeat-x;
    height:23px;
    margin:0 23px;
    }

    .box-top {
    background-image:url(images/layout/frame-white-1/f-kado1.gif), url(images/layout/frame-white-1/f-kado2.gif);
    background-position:top left, top right;
    background-repeat:no-repeat, no-repeat;
    height:23px
    }

    .box-center {
    background-image:url(images/layout/frame-white-1/f-migi.gif), url(images/layout/frame-white-1/f-hidari.gif);
    background-position:top right, top left;
    background-repeat:repeat-y, repeat-y;
    }

    .box-inner {
    background:#fff;
    margin:0 23px;
    }

    .box-bottom {
    background-image:url(images/layout/frame-white-1/f-kado3.gif), url(images/layout/frame-white-1/f-kado4.gif);
    background-position:top left, top right;
    background-repeat:no-repeat, no-repeat;
    height:23px;
    }

/*---------- main ----------*/

    .center {
        display: flex;
    justify-content: center;
    width: calc(100% - 400px); /* Subtract sidebar widths */
    max-width: 900px;
    justify-content: center;
    z-index: 2;

    border-width:45px;
    padding: 10px;
    height: 450px;
    overflow-y:auto;
    border-style:solid;
    border-image: url("images/layout/pf034-plate-i04.gif") 55 fill round;
    }

    .center-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    .center-box {
    font-size: 0.9em;
    padding: 1em;
    overflow-y:auto;
    max-width: 300px;

    border-style: solid;
    border-image: url("/images/layout/ccsh5u.png") 2.5 fill round;
    margin: 1em;
    box-shadow: 4px 4px #eaf2ff;
    }

    footer {
    margin-top: auto;
    font-size: 0.5em;
    font-family: 'Borel', 'Send Flowers', sans-serif;
    }
